{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Odprti računi</title>
        <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" />
        <link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        {% block extra-head %}
        {% endblock %}
    </head>
    <body>
        <div class="card">
            <div class="header">
                <div class="header-left">
                    <div class="or-logo">
                        <img src="{% static '/images/OR-logo.svg' %}" alt="Odprti računi">
                    </div>
                    <select id="year-select" name="years">
                        {% for year in organization.get_years %}
                            <option value="{% url request.resolver_match.url_name organization.id year %}" {% if year == request.resolver_match.kwargs.year %} selected {% endif %}>{{year}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="organization-logo">
                    <img src="{{ organization.logo.url }}">
                </div>
                <div class="header-menu">
                    <a href="{% url 'info' organization.id request.resolver_match.kwargs.year %}" class="{% if request.resolver_match.url_name == 'info' %}current-page{% endif %}">Osebna izkaznica</a>
                    <a href="{% url 'finance' organization.id request.resolver_match.kwargs.year %}" class="{% if request.resolver_match.url_name == 'finance' %}current-page{% endif %}">Finance</a>
                    <a href="{% url 'projects' organization.id request.resolver_match.kwargs.year %}" class="{% if request.resolver_match.url_name == 'projects' %}current-page{% endif %}">Projekti</a>
                    {% if donation.personal_donations_amount or donation.organization_donations_amount or donation.one_percent_income_tax %}
                    <a href="{% url 'donations' organization.id request.resolver_match.kwargs.year %}" class="{% if request.resolver_match.url_name == 'donations' %}current-page{% endif %}">Donacije</a>
                    {% endif %}
                </div>
            </div>
            <div class="body">
                <div>
                    <div class="header-menu-mobile">
                        <a href="{% url 'info' organization.id request.resolver_match.kwargs.year %}" class="{% if request.resolver_match.url_name == 'info' %}current-page{% endif %}">Osebna izkaznica</a>
                        <a href="{% url 'finance' organization.id request.resolver_match.kwargs.year %}" class="{% if request.resolver_match.url_name == 'finance' %}current-page{% endif %}">Finance</a>
                        <a href="{% url 'projects' organization.id request.resolver_match.kwargs.year %}" class="{% if request.resolver_match.url_name == 'projects' %}current-page{% endif %}">Projekti</a>
                        {% if donation.personal_donations_amount or donation.organization_donations_amount or donation.one_percent_income_tax %}
                        <a href="{% url 'donations' organization.id request.resolver_match.kwargs.year %}" class="{% if request.resolver_match.url_name == 'donations' %}current-page{% endif %}">Donacije</a>
                        {% endif %}
                    </div>
                    {% block content %}
                    {% endblock %}
                </div>
                <div class="footer">
                    <button id="footer-info-button">
                        <img src="{% static '/images/icons/vec-info.svg' %}" alt="Ikona za deljenje" />
                        <span>Več informacij</span>
                    </button>
                    <button id="footer-close-button" style="display: none;">
                        <img src="{% static '/images/icons/zapri.svg' %}" alt="Ikona za deljenje" />
                        <span>Zapri</span>
                    </button>
                        <!-- {{ info_text.text }} -->
                    <button id="footer-share-button">
                        <img src="{% static '/images/icons/deli.svg' %}" alt="Ikona za deljenje" />
                        <span>Deli</span>
                    </button>
                        <!-- href="{{ request.get_full_path }}" -->
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
        <script>
            $(document).ready(function() {
                $("#share-url").val(window.location.href);

                $("#share-url").click((e) => {
                    $("#share-url").select();
                    document.execCommand("copy");
                });
            });

            $('.martor-preview pre').each(function(i, block){
                hljs.highlightBlock(block);
            });
            $( "#year-select" ).change(function() {
                location.href = this.value;
            });
            $("#footer-info-button").click((e) => {
                // show the right content
                $(".info").addClass("active");
                $(".share").removeClass("active");
                $(".content").removeClass("active");
                // show the right buttons
                $("#footer-info-button").hide();
                $("#footer-close-button").show();
                $("#footer-share-button").show();
            });
            $("#footer-share-button").click((e) => {
                // show the right content
                $(".info").removeClass("active");
                $(".share").addClass("active");
                $(".content").removeClass("active");
                // show the right buttons
                $("#footer-info-button").show();
                $("#footer-close-button").show();
                $("#footer-share-button").hide();
            });
            $("#footer-close-button").click((e) => {
                // show the right content
                $(".info").removeClass("active");
                $(".share").removeClass("active");
                $(".content").addClass("active");
                // show the right buttons
                $("#footer-info-button").show();
                $("#footer-close-button").hide();
                $("#footer-share-button").show();
            });
        </script>
        {% block js %}
        {% endblock %}
    </body>
</html>
