{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Odprti računi</title>
        <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" />
        <link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta property="og:type" content="website">
        <meta property="og:title" content="Odprti računi: {{ organization.name }}">
        <meta property="og:description" content="Enostaven in transparenten prikaz finančnega poslovanja in projektov nevladnih organizacij. Odprti računi, dobri prijatelji!">
        <meta property="og:image" content="{% static '/images/og-OR-NVO.jpg' %}">

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Odprti računi: {{ organization.name }}">
        <meta name="twitter:description" content="Enostaven in transparenten prikaz finančnega poslovanja in projektov nevladnih organizacij. Odprti računi, dobri prijatelji!">
        <meta name="twitter:image" content="{% static '/images/og-OR-NVO.jpg' %}">

        <meta name="author" content="Odprti računi">
        <meta name="description" content="Enostaven in transparenten prikaz finančnega poslovanja in projektov nevladnih organizacij. Odprti računi, dobri prijatelji!">

        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'site.webmanifest' %}">

        <script defer data-domain="odprtiracuni-nvo.djnd.si" src="https://plausible.lb.djnd.si/js/plausible.js"></script>
        <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>

        {% block extra-head %}
        {% endblock %}
    </head>
    <body>
        <div class="card">
            <div class="header">
                <div class="header-left">
                    <div class="or-logo">
                        <img src="{% static '/images/OR-logo.svg' %}" alt="Logo odprtih računov, ki je stiliziran tekst s povečevalnim steklom namesto prvega O-ja.">
                    </div>
                    <select id="year-select" name="years">
                        {% for year in organization.get_years %}
                            <option value="{% url request.resolver_match.url_name organization.id year %}" {% if year == request.resolver_match.kwargs.year %} selected {% endif %}>{{year}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="organization-logo">
                    {% if organization.link %}
                    <a href="{{ organization.link }}" target="_blank">
                        <img src="{{ organization.logo.url }}" alt="Logo organizacije.">
                    </a>
                    {% else %}
                    <img src="{{ organization.logo.url }}" alt="Logo organizacije." >
                    {% endif %}
                </div>
                <div class="header-menu">
                    <a href="{% url 'info' organization.id request.resolver_match.kwargs.year %}" class="{% if request.resolver_match.url_name == 'info' %}current-page{% endif %}">Osebna izkaznica</a>
                    <a href="{% url 'finance' organization.id request.resolver_match.kwargs.year %}" class="{% if request.resolver_match.url_name == 'finance' %}current-page{% endif %}">Finance</a>
                    <a href="{% url 'projects' organization.id request.resolver_match.kwargs.year %}" class="{% if request.resolver_match.url_name == 'projects' %}current-page{% endif %}">Projekti</a>
                    {% if donation.personal_donations_amount or donation.organization_donations_amount or donation.one_percent_income_tax %}
                    <a href="{% url 'donations' organization.id request.resolver_match.kwargs.year %}" class="{% if request.resolver_match.url_name == 'donations' %}current-page{% endif %}">Donacije</a>
                    {% endif %}
                </div>
            </div>
            <div class="body">
                <div>
                    <div class="header-menu-mobile">
                        <a href="{% url 'info' organization.id request.resolver_match.kwargs.year %}" class="{% if request.resolver_match.url_name == 'info' %}current-page{% endif %}">Osebna izkaznica</a>
                        <a href="{% url 'finance' organization.id request.resolver_match.kwargs.year %}" class="{% if request.resolver_match.url_name == 'finance' %}current-page{% endif %}">Finance</a>
                        <a href="{% url 'projects' organization.id request.resolver_match.kwargs.year %}" class="{% if request.resolver_match.url_name == 'projects' %}current-page{% endif %}">Projekti</a>
                        {% if donation.personal_donations_amount or donation.organization_donations_amount or donation.one_percent_income_tax %}
                        <a href="{% url 'donations' organization.id request.resolver_match.kwargs.year %}" class="{% if request.resolver_match.url_name == 'donations' %}current-page{% endif %}">Donacije</a>
                        {% endif %}
                    </div>
                    {% block content %}
                    {% endblock %}
                </div>
                <div class="footer">
                    <button id="footer-info-button">
                        <img src="{% static '/images/icons/vec-info.svg' %}" />
                        <span>Več informacij</span>
                    </button>
                    <button id="footer-close-button" style="display: none;">
                        <img src="{% static '/images/icons/zapri.svg' %}" />
                        <span>Zapri</span>
                    </button>
                    <button id="footer-share-button">
                        <img src="{% static '/images/icons/deli.svg' %}" />
                        <span>Deli</span>
                    </button>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
        <script>
            function showInfo() {
                // show the right content
                $(".info").addClass("active");
                $(".share").removeClass("active");
                $(".content").removeClass("active");
                // show the right buttons
                $("#footer-info-button").hide();
                $("#footer-close-button").show();
                $("#footer-close-button").css("width", "145px")
                $("#footer-share-button").show();
            }
            function showContent() {
                // show the right content
                $(".info").removeClass("active");
                $(".share").removeClass("active");
                $(".content").addClass("active");
                // show the right buttons
                $("#footer-info-button").show();
                $("#footer-close-button").hide();
                $("#footer-share-button").show();
            }
            function showShare() {
                // show the right content
                $(".info").removeClass("active");
                $(".share").addClass("active");
                $(".content").removeClass("active");
                // show the right buttons
                $("#footer-info-button").show();
                $("#footer-close-button").show();
                $("#footer-close-button").css("width", "82px")
                $("#footer-share-button").hide();
            }

            $('.martor-preview pre').each(function(i, block){
                hljs.highlightBlock(block);
            });

            $( "#year-select" ).change(function() {
                location.href = this.value;
            });

            $("#footer-info-button").click((e) => {
                showInfo()
            });

            $("#footer-share-button").click((e) => {
                showShare()
            });

            $("#footer-close-button").click((e) => {
                showContent()
            });
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.3.6/iframeResizer.contentWindow.min.js" integrity="sha512-R7Piufj0/o6jG9ZKrAvS2dblFr2kkuG4XVQwStX+/4P+KwOLUXn2DXy0l1AJDxxqGhkM/FJllZHG2PKOAheYzg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        {% block js %}
        {% endblock %}
    </body>
</html>
