{% extends "base.html" %}
{% block extra-head %}
{% endblock %}
{% block content %}
{% load static %}
<div class="body-row content active">
    <div class="body-column">
        <div class="minicard">
            <div>
                <div class="icon">
                    <img src="{% static '/images/icons/info-1.svg' %}" alt="Ikona za deljenje" />
                </div>
            </div>
            <div>
                <h4>{{ organization.name }}</h4>
                <p>
                    {{ organization.address }} <br/>
                    {{ organization.post_number }} {{ organization.city }}
                </p>
                <p>
                    <i>Davčna številka:</i> {{ organization.tax_number }} <br/>
                    <i>Matična številka:</i> {{ organization.registration_number }}
                </p>
                <p>
                    <i>Kontakt:</i> {{ organization.email }}, {{ organization.phone_number }}
                </p>
                <p>
                    <i>Zastopnik_ca:</i> {{ organization.representative }}
                </p>
                <p>
                    <i>TRR:</i> {{ organization.trr }}
                </p>
        
                <div class="horizontal-divider"></div>
                
                {% if organization.is_charity %}
                    <p class="note">
                        <i>Organizacija ima status</i> humanitarne organizacije {% if organization.is_for_the_public_good %}
                        <i>in</i> organizacije v javnem interesu na področju {{ organization.is_for_the_public_good }}.
                    {% endif %}
                    </p>
                {% endif %}
                {% if organization.is_for_the_public_good and not organization.is_charity %}
                    <p class="note">
                        Organizacija ima status organizacije v javnem interesu na področju {{ organization.is_for_the_public_good }}.
                    </p>
                {% endif %}
            </div>
        </div>
        <div class="minicard">
            <div>
                <div class="icon">
                    <img src="{% static '/images/icons/info-report.svg' %}" alt="Ikona za deljenje" />
                </div>
            </div>
            <div>
                <h4 class="mb-10">Letna poročila</h4>
                {% for document in documents %}
                <p>
                    <a href="{{ document.file.url }}" target="_blank">{{ document.category.name }}</a>
                </p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="body-column">
        <div class="minicard">
            <div>
                <div class="icon">
                    <img src="{% static '/images/icons/info-ljudje.svg' %}" alt="Ikona za deljenje" />
                </div>
            </div>
            <div>
                <h4 class="mb-10">Ljudje</h4>
                {% if people.full_time_employees %}
                <p>
                    <i>Število redno zaposlenih:</i> {{ people.full_time_employees }}
                </p>
                {% endif %}
                {% if people.other_employees %}
                <p>
                    <i>Število drugih stalnih sodelavcev:</i> {{ people.other_employees }}
                </p>
                {% endif %}
                {% if people_statistics %}
                <p class="inline-block">
                    <i>Redno zaposleni po spolu:</i>
                </p>
                <p class="inline-block">
                    {% if people_statistics.men %}
                        {{ people_statistics.men|floatformat:2 }} % moških<br/>
                    {% endif %}
                    {% if people_statistics.women %}
                        {{ people_statistics.women|floatformat:2 }} % žensk<br/>
                    {% endif %}
                    {% if people_statistics.nonbinary %}
                        {{ people_statistics.nonbinary|floatformat:2 }} % nebinarnih oseb<br/>
                    {% endif %}
                </p>
                {% endif %}
                {% if people.volunteers %}
                <p>
                    <i>Število prostovoljcev:</i> {{ people.volunteers }}
                </p>
                {% endif %}
                {% if people.members %}
                <p>
                    <i>Število članov:</i> {{ people.members }}
                </p>
                {% endif %}
            </div>
        </div>
        <div class="minicard">
            <div>
                <div class="icon">
                    <img src="{% static '/images/icons/info-place.svg' %}" alt="Ikona za deljenje" />
                </div>
            </div>
            <div>
                <h4 class="mb-10">Plačilna razmerja</h4>
                <div class="payment-ratio-card">
                    <div class="row">
                        <p><i>Najvišja plača</i><span class="tag">{{ payment_ratio.highest_absolute }}</span></p>
                        <p><span class="tag">{{ payment_ratio.lowest }}</span><i>Najnižja plača</i></p>
                    </div>
                    <div class="row">
                        <p><i>Najvišja plača</i><span class="tag">{{ payment_ratio.highest }}</span></p>
                        <p><span class="tag">{{ payment_ratio.average }}</span><i>Povprečna plača</i></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="body-row info">
    <div class="body-column">
        <div class="minicard">
            <div>
                <div class="icon">
                    <img src="{% static '/images/icons/vec-info.svg' %}" alt="Ikona za deljenje" />
                </div>
            </div>
            <div>
                <h4>Osebna izkaznica</h4>
                <div class="info-content">
                    <i>Osnovni podatki</i>
                    <p>
                        {{ info_text.text }}
                    </p>
                    <div class="horizontal-divider"></div>
                    <i>Letna poročila</i>
                    <p>
                        {{ info_text.text }}
                    </p>
                    <div class="horizontal-divider"></div>
                    <i>Ljudje</i>
                    <p>
                        {{ info_text.text }}
                    </p>
                    <div class="horizontal-divider"></div>
                    <i>Plačna razmerja</i>
                    <p>
                        {{ info_text.text }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="body-row share">
    <div class="body-column">
        <div class="minicard">
            <div>
                <div class="icon">
                    <img src="{% static '/images/icons/deli.svg' %}" alt="Ikona za deljenje" />
                </div>
            </div>
            <div>
                <h4>Deli povezavo do zavihka Osnovne informacije</h4>
                <div class="info-content">
                    <p style="margin-bottom: 5px;">
                        Kopiraj povezavo
                    </p>
                    <input type="text" id="share-url">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
