{% extends "base.html" %}
{% load martortags %}
{% load static %}
{% block extra-head %}
{% endblock %}
{% block content %}
<div class="body-row content active">
    <div class="body-column">
        {% if donation.personal_donations_amount %}
        <div class="minicard">
            <div>
                <div class="icon">
                    <img src="{% static '/images/icons/donacije-fizicne.svg' %}" alt="Ikona za deljenje" />
                </div>
            </div>
            <div>
                <div class="minicard-donations-title">
                    <h4>Višina zbranih donacij fizičnih oseb</h4>
                    <div>{{ donation.personal_donations_amount|floatformat:2 }} EUR</div>
                </div>
                {% if donation.number_of_personal_donations %}
                <p>
                    <i>Število donatorjev:</i> {{ donation.number_of_personal_donations }}
                </p>
                {% endif %}
                {% if donation.personal_donators.all %}
                    <i>Poimenski seznam donatorjev</i><br/>
                    {% for donator in donation.personal_donators.all %}
                    <div class="donator-list-element">
                        <p>{{ donator.name }}</p><span>{{ donator.amount|floatformat:2 }} EUR</span>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% if donation.organization_donations_amount %}
        <div class="minicard">
            <div>
                <div class="icon">
                    <img src="{% static '/images/icons/donacije-poslovne.svg' %}" alt="Ikona za deljenje" />
                </div>
            </div>
            <div>
                <div class="minicard-donations-title">
                    <h4>Višina zbranih donacij pravnih oseb</h4>
                    <div>{{ donation.organization_donations_amount|floatformat:2 }} EUR</div>
                </div>
                {% if donation.number_of_organization_donations %}
                <p>
                    <i>Število donatorjev:</i> {{ donation.number_of_organization_donations }}
                </p>
                {% endif %}
                {% if donation.organiaztion_donators.all %}
                    <i>Poimenski seznam donatorjev</i><br/>
                    {% for donator in donation.organiaztion_donators.all %}
                    <div class="donator-list-element">
                        <p>{{ donator.name }}</p><span>{{ donator.amount|floatformat:2 }} EUR</span>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% if donation.one_percent_income_tax %}
        <div class="minicard">
            <div>
                <div class="icon">
                    <img src="{% static '/images/icons/donacije-1procent.svg' %}" alt="Ikona za deljenje" />
                </div>
            </div>
            <div>
                <div class="minicard-donations-title">
                    <h4>Višina zbranih donacij z 1% dohodnine</h4>
                    <div>{{ donation.one_percent_income_tax|floatformat:2 }} EUR</div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="minicard">
            <div>
                <div class="icon">
                    <img src="{% static '/images/icons/donacije-poraba.svg' %}" alt="Ikona za deljenje" />
                </div>
            </div>
            <div>
                <div class="minicard-donations-title-long">
                    <h4>Kako smo porabili zbrane donacije</h4>
                    <div>{{ donation.purpose_of_donations|safe_markdown }}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="body-row info">
    <div class="body-column">
        <div class="minicard">
            <div>
                <div class="icon">
                    <img src="{% static '/images/icons/vec-info.svg' %}" alt="Ikona za deljenje" />
                </div>
            </div>
            <div>
                <h4>Osebna izkaznica</h4>
                <div class="info-content">
                    <i>Osnovni podatki</i>
                    <p>
                        {{ info_text.text }}
                    </p>
                    <div class="horizontal-divider"></div>
                    <i>Letna poročila</i>
                    <p>
                        {{ info_text.text }}
                    </p>
                    <div class="horizontal-divider"></div>
                    <i>Ljudje</i>
                    <p>
                        {{ info_text.text }}
                    </p>
                    <div class="horizontal-divider"></div>
                    <i>Plačna razmerja</i>
                    <p>
                        {{ info_text.text }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="body-row share">
    <div class="body-column">
        <div class="minicard">
            <div>
                <div class="icon">
                    <img src="{% static '/images/icons/deli.svg' %}" alt="Ikona za deljenje" />
                </div>
            </div>
            <div>
                <h4>Deli povezavo do zavihka Donacije</h4>
                <div class="info-content">
                    <p style="margin-bottom: 5px;">
                        Kopiraj povezavo
                    </p>
                    <input type="text" id="share-url">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}

{% endblock %}

