{% extends "base.html" %}
{% block extra-head %}
{% endblock %}
{% block content %}
{% load static %}
<div class="body-row content active">
    <div class="body-column">
        <div class="minicard finances-card">

            <div class="finances-header-button-wrapper">
                <div class="finances-header-button">
                    <div id="finances-active-presentation" class="graph"></div>
                    <svg id="finances-graph-button" class="active" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90 90"><g id="Layer_1-2"><g><path class="cls-1" d="M0,35.8V17.1C29.7,17.1,60.3,0,90,0V18.7C60.3,18.7,29.7,35.8,0,35.8"/><path class="cls-1" d="M0,54.2c29.7,0,60.3,17.1,90,17.1v18.7c-29.7,0-60.3-17.1-90-17.1v-18.7"/><path class="cls-1" d="M0,54.2v-18.4H90v18.4c-29.7,0-60.3,0-90,0"/></g></g></svg>
                    <svg id="finances-table-button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 84.4 75.1"><g id="Layer_1-2"><path class="cls-1" d="M75,0H9.4C4.2,0,0,4.2,0,9.4v56.3c0,5.2,4.2,9.4,9.4,9.4H75c5.2,0,9.4-4.2,9.4-9.4V9.4c.1-5.2-4.2-9.4-9.4-9.4ZM32.4,45.5v-15.8c0-.2,0-.5-.1-.7h20.2c-.1,.2-.1,.5-.1,.7v15.8h-20Zm20,6.3v17.1h-20v-17.1h20ZM6.3,29H26.2c-.1,.2-.1,.5-.1,.7v15.8H6.3V29Zm52.3,0h19.6v16.6h-19.5v-15.9c0-.3,0-.5-.1-.7ZM9.4,6.3H75c1.7,0,3.1,1.4,3.1,3.1v13.2H6.3V9.4c0-1.7,1.4-3.1,3.1-3.1Zm-3.1,59.5v-14H26.1v17.1H9.4c-1.7,0-3.1-1.4-3.1-3.1Zm68.7,3.1h-16.3v-17.1h19.5v13.9c0,1.8-1.4,3.2-3.2,3.2Z"/></g></svg>
                </div>
            </div>
            
            <div class="finances-card-left">
                <div class="finances-header-income">
                    <div>
                        <div class="icon">
                            <img src="{% static '/images/icons/prihodki.svg' %}" alt="" />
                        </div>
                    </div>
                    <div>
                        <h4>{{ total_income.name }}</h4>
                        <p>{{ total_income.amount|floatformat:2 }} EUR</p>
                    </div>
                </div>
                <div class="finances-table finances-presentation">
                    <ul class="finance-tree income-tree">
                        {% for revenue in revenues %}
                        <li>
                            <div>
                                {% if revenue.additional_name %}
                                <span>{{ revenue.additional_name }}</span>
                                {% else %}
                                <span>{{ revenue.name }}</span>
                                {% endif %}
                                <span>{{ revenue.amount|floatformat:2 }}</span>
                            </div>
                            {% include "includes/finance-tree-element.html" with revenues=revenue.children %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="finances-graph finances-presentation active">
                    {{ revenue_json | json_script:"revenue-data" }}
                    {% include "graf-income.html" %}
                </div>
            </div>
                
            <div class="finances-card-right">
                <div class="finances-header-expense">
                    <div>
                        <div class="icon">
                            <img src="{% static '/images/icons/odhodki.svg' %}" alt="" />
                        </div>
                    </div>
                    <div>
                        <h4>{{ total_expense.name }}</h4>
                        <p>{{ total_expense.amount|floatformat:2 }} EUR</p>
                    </div>
                </div>
                <div class="finances-table finances-presentation">
                    <ul class="finance-tree expense-tree">
                        {% for revenue in expenses %}
                        <li>
                            <div>
                                {% if revenue.additional_name %}
                                <span>{{ revenue.additional_name }}</span>
                                {% else %}
                                <span>{{ revenue.name }}</span>
                                {% endif %}
                                <span>{{ revenue.amount|floatformat:2 }}</span>
                            </div>
                            {% include "includes/finance-tree-element.html" with revenues=revenue.children %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="finances-graph finances-presentation active">
                    {{ expenses_json | json_script:"expenses-data" }}
                    {% include "graf-expense.html" %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="body-row content active">
    {% if other_finances.amount_voluntary_work or other_finances.payments_project_partners %}
    <div class="body-column">
        {% if other_finances.amount_voluntary_work %}
        <div class="minicard">
            <div>
                <div class="icon">
                    <img src="{% static '/images/icons/finance-prostovoljci.svg' %}" alt="" />
                </div>
            </div>
            <div>
                <div class="minicard-finance-title">
                    <h4>Vrednost prostovoljskega dela</h4>
                    <div>{{ other_finances.amount_voluntary_work }} EUR</div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if other_finances.payments_project_partners %}
        <div class="minicard">
            <div>
                <div class="icon">
                    <img src="{% static '/images/icons/finance-partnerji.svg' %}" alt="" />
                </div>
            </div>
            <div>
                <div class="minicard-finance-title">
                    <h4>Izplačila projektnim partnerjem</h4>
                    <div>{{ other_finances.payments_project_partners }} EUR</div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% endif %}
    {% if other_finances.payment_state_budget %}
    <div class="body-column">
        <div class="minicard">
            <div>
                <div class="icon">
                    <img src="{% static '/images/icons/finance-proracun.png' %}" alt="" />
                </div>
            </div>
            <div>
                <div class="minicard-finance-title">
                    <h4>Vplačila v proračun RS</h4>
                    <div>{{ other_finances.payment_state_budget }} EUR</div>
                </div>
                {% if other_finances.difference_payment_state_budget %}
                <div class="minicard-donations-body">
                    <p>
                        <i>Razlika med vplačanimi in pridobljenimi proračunskimi sredstvi v RS</i>
                    </p>
                    <span>{{ other_finances.difference_payment_state_budget }} EUR</span>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
</div>

<div class="body-row info">
    <div class="body-column">
        <div class="minicard">
            <div>
                <div class="icon">
                    <img src="{% static '/images/icons/vec-info.svg' %}" alt="" />
                </div>
            </div>
            <div>
                <h4>Osebna izkaznica</h4>
                <div class="info-content">
                    <i>Osnovni podatki</i>
                    <p>
                        {{ info_text.text }}
                    </p>
                    <div class="horizontal-divider"></div>
                    <i>Letna poročila</i>
                    <p>
                        {{ info_text.text }}
                    </p>
                    <div class="horizontal-divider"></div>
                    <i>Ljudje</i>
                    <p>
                        {{ info_text.text }}
                    </p>
                    <div class="horizontal-divider"></div>
                    <i>Plačna razmerja</i>
                    <p>
                        {{ info_text.text }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="body-row share">
    <div class="body-column">
        <div class="minicard">
            <div>
                <div class="icon">
                    <img src="{% static '/images/icons/deli.svg' %}" alt="" />
                </div>
            </div>
            <div>
                <h4>Deli povezavo do zavihka Finance</h4>
                <div class="info-content">
                    <p style="margin-bottom: 5px;">
                        Kopiraj povezavo
                    </p>
                    <input type="text" id="share-url">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
$(document).ready(function() {
    $("#finances-graph-button").click((e) => {
        // move the slider
        $("#finances-active-presentation").addClass("graph");
        // change button icon colors
        $("#finances-graph-button").addClass("active");
        $("#finances-table-button").removeClass("active");
        // show the right finances presentation
        $(".finances-graph").addClass("active");
        $(".finances-table").removeClass("active");
    });

    $("#finances-table-button").click((e) => {
        // move the slider
        $("#finances-active-presentation").removeClass("graph");
        // change button icon colors
        $("#finances-table-button").addClass("active");
        $("#finances-graph-button").removeClass("active");
        // show the right finances presentation
        $(".finances-table").addClass("active");
        $(".finances-graph").removeClass("active");
    });
    
});
</script>
{% endblock %}
