{% extends "base.html" %}
{% block extra-head %}
{% endblock %}
{% block content %}
{% load static %}
<div class="body-row">
    <div class="body-column">
        <div class="minicard finances-card">
            <div class="finances-header">
                <div class="finances-header-income">
                    <div>
                        <div class="icon">
                            <img src="{% static '/images/icons/prihodki.svg' %}" alt="Ikona za deljenje" />
                        </div>
                    </div>
                    <div>
                        <h4>{{ total_income.name }}</h4>
                        <p>{{ total_income.amount }} EUR</p>
                    </div>
                </div>
                <div class="finances-header-button">
                    <img src="{% static '/images/icons/finance-graf.svg' %}" alt="Ikona za deljenje" />
                    <img src="{% static '/images/icons/finance-tabela.svg' %}" alt="Ikona za deljenje" />
                </div>
                <div class="finances-header-expense">
                    <div>
                        <h4>{{ total_expense.name }}</h4>
                        <p>{{ total_expense.amount }} EUR</p>
                    </div>
                    <div>
                        <div class="icon">
                            <img src="{% static '/images/icons/odhodki.svg' %}" alt="Ikona za deljenje" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="body-row">
                <ul class="finance-tree income-tree body-column">
                    {% for revenue in revenues %}
                    <li>
                        <div>
                            <span>{{ revenue.name }}</span><span>{{ revenue.amount }}</span>
                        </div>
                        {% include "includes/finance-tree-element.html" with revenues=revenue.children %}
                    </li>
                    {% endfor %}
                </ul>
    
                <ul class="finance-tree expense-tree body-column">
                    {% for revenue in expenses %}
                    <li>
                        <div>
                            <span>{{ revenue.name }}</span><span>{{ revenue.amount }}</span>
                        </div>
                        {% include "includes/finance-tree-element.html" with revenues=revenue.children %}
                    </li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>
</div>
<div class="body-row">
    <div class="body-column">
        <div class="minicard">
            <div>
                <div class="icon">
                    <img src="{% static '/images/icons/finance-prostovoljci.svg' %}" alt="Ikona za deljenje" />
                </div>
            </div>
            <div>
                <h4 class="inline-block">Vrednost prostovoljskega dela</h4>
                <div class="inline-block">45.000,00 EUR</div>
            </div>
        </div>
        <div class="minicard">
            <div>
                <div class="icon">
                    <img src="{% static '/images/icons/finance-partnerji.svg' %}" alt="Ikona za deljenje" />
                </div>
            </div>
            <div>
                <h4>Izplačila projektnim partnerjem </h4>
            </div>
        </div>
    </div>
    <div class="body-column">
        <div class="minicard">
            <div>
                <div class="icon">
                    <img src="{% static '/images/icons/finance-proracun.png' %}" alt="Ikona za deljenje" />
                </div>
            </div>
            <div>
                <h4>Vplačila v proračun RS</h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}
