.no-margin {
    margin: 0 !important;
}

body {
    padding: 10px;
    color: #39444e;
}

i {
    font-size: 14px;
}

ul {
    margin: 0;
}

.card {
    /* max-width: 640px; */
    font-family: 'Roboto', sans-serif;
    border: 1px solid #d1d7df;
    background-color: #ffffff;
    border-radius: 13px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #d1d7df;
}

.header-left {
    display: flex;
    align-items: center;
    flex: 1 1 0;
}

.header-left select {
    border: 1px solid #39444e;
    border-radius: 30px;
    background-color: transparent;
    padding: 4px 12px;
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    color: #39444e;
    margin: 0 15px;
}

.or-logo {
    display: flex;
    align-items: center;
}

.or-logo img {
    max-height: 30px;
}

.organization-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.organization-logo img {
    max-height: 50px;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: end;
    flex: 1 1 0;
}

.header-menu a {
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    text-decoration: none;
    color: #616971;
}

.header-menu a:not(:first-of-type) {
    margin-left: 10px;
}

.header-menu a.current-page {
    border: 1px solid #39444e;
    background-color: #39444e;
    border-radius: 30px;
    color: #ffffff;
    padding: 4px 16px;
}

.footer {
    display: flex;
    justify-content: center;
}

.footer button {
    border-radius: 10px;
    border: 0;
    background-color: #eaf7d6;
    color: #39444e;
    padding: 8px 24px;
    margin: 0 5px;
    font-size: 14px;
    font-weight: 700;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.footer button img {
    max-height: 20px;
    max-width: 20px;
    margin-right: 10px;
}

.icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f7f9;
    border-radius: 7px;
    margin-right: 10px;
}

.icon img {
    max-width: 25px;
    max-height: 25px;
}

.body {
    padding: 20px;
}

.body-row {
    display: flex;
    justify-content: space-between;
}

.body-column:first-child {
    margin-right: 10px;
}

.body-column:last-child {
    margin-left: 10px;
}

.body-column:first-child:last-child {
    margin: 0;
}

.body-column {
    flex: 1 1 0;
}

.minicard {
    padding: 20px;
    box-shadow: 0 0 29px rgba(57, 68, 78, 0.1);
    border-radius: 13px;
    margin-bottom: 20px;
    display: flex;
}

.card-with-sidebar {
    display: flex;
}

.card-with-sidebar .sidebar {
    width: 400px;
    min-width: 400px;
}

.minicard h4 {
    margin: 0;
    line-height: 24px;
}

.minicard h4.mb-10 {
    margin-bottom: 10px;
}

.minicard p, li {
    font-size: 15px;
    line-height: 22px;
    margin: 0 0 12px 0;
}

.minicard a {
    color: #486ed9;
}

.minicard hr {
    border-color: #f5f7f9;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
}

.show-hide-button {
    width: 20px;
}

.payment-ratio-card .row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.payment-ratio-card .row p {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    flex: 1 1 0;
}

.payment-ratio-card .row p:first-child {
    justify-content: end;
}

.payment-ratio-card .row .tag {
    font-weight: 700;
    background-color: #ebf1f8;
    border-radius: 20px;
    width: 60px;
    height: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.description li {
    margin-bottom: 0;
}

.minicard .sidebar a {
    color: #39444e;
}

.vertical-separator {
    width: 1px;
    background-color: #f5f7f9;
    margin: -20px 20px;
}

.minicard-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.minicard-footer-separator {
    border: 1px solid #f5f7f9;
    margin: 20px 0;
}

.logo {
    max-width: 160px;
    margin: 0 10px;
}

.minicard-donations-title {
    display: flex;
    justify-content: space-between;
}

.minicard-donations-title h4 {
    white-space: nowrap;
    margin-right: 30px;
}

.minicard-donations-title p {
    font-size: 16px;
}

.donator-list-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #f5f7f9;
    padding: 10px 0;
}

.donator-list-element p {
    margin-bottom: 0;
}

.donator-list-element span {
    font-size: 14px;
}