.no-margin {
    margin: 0 !important;
}

body {
    padding: 10px;
    color: #39444e;
}

i {
    font-size: 14px;
    line-height: 14px;
    font-weight: 300;
}

ul {
    margin: 0;
}

.card {
    max-width: 980px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #d1d7df;
    background-color: #ffffff;
    border-radius: 13px;
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #d1d7df;
}

.header-left {
    display: flex;
    align-items: center;
    flex: 1 1 0;
}

.header-left select {
    border: 1px solid #39444e;
    border-radius: 30px;
    background-color: transparent;
    padding: 5px 20px 5px 10px;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: #39444e;
    margin: 0 15px;
    cursor: pointer;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%2339444e" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.or-logo {
    display: flex;
    align-items: center;
}

.or-logo img {
    max-height: 22px;
}

.organization-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.organization-logo img {
    max-height: 40px;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: end;
    flex: 1 1 0;
}

.header-menu a {
    border: 1px solid transparent;
    font-size: 12px;
    font-weight: 700;
    line-height: 22px;
    text-decoration: none;
    color: #616971;
}

.header-menu a:not(:first-of-type) {
    margin-left: 10px;
}

.header-menu a.current-page {
    /* border: 1px solid #39444e; */
    background-color: #39444e;
    border-radius: 20px;
    color: #ffffff;
    padding: 4px 16px;
}

.footer {
    display: flex;
    justify-content: center;
}

.footer button {
    border-radius: 10px;
    border: 0;
    background-color: #eaf7d6;
    color: #39444e;
    padding: 8px 24px;
    margin: 0 5px;
    font-size: 12px;
    font-weight: 700;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.footer button img {
    max-height: 16px;
    max-width: 16px;
    margin-right: 10px;
}

#footer-close-button {
    background-color: #cef98e;
}

#footer-close-button img {
    max-height: 12px;
    max-width: 12px;
}

.icon {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f7f9;
    border-radius: 5px;
    margin-right: 15px;
}

.icon img {
    max-width: 21px;
    max-height: 21px;
}

.body {
    padding: 20px;
    background-image: url(../images/NVO_ozadje.png); 
    background-repeat: repeat-y;
    background-size: auto;
}

.body-row {
    display: flex;
    justify-content: space-between;
}

.body-column:first-child {
    margin-right: 10px;
}

.body-column:last-child {
    margin-left: 10px;
}

.body-column:first-child:last-child {
    margin: 0;
}

.body-column {
    flex: 1 1 0;
}

.minicard {
    padding: 20px;
    box-shadow: 0 0 29px rgba(57, 68, 78, 0.1);
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
}

.minicard > div:last-child {
    flex-grow: 1;
}

.card-with-sidebar {
    display: flex;
}

.minicard .card-with-sidebar .main h4 {
    margin: 0;
    cursor: pointer;
}

.minicard.show .card-with-sidebar .main h4 {
    margin-bottom: 20px;
}

.card-with-sidebar .main {
    display: flex;
    flex-grow: 1;
}

.card-with-sidebar .main .show-hide-wrapper {
    width: 28px;
    min-width: 28px;
    text-align: center;
    margin-top: 2px;
}

.show-hide-button {
    width: 18px;
    transition: transform 0.25s ease-out;
}

.project .card-with-sidebar .sidebar {
    width: 270px;
    min-width: 270px;
}

.project .card-with-sidebar .main > div:nth-child(2) {
    padding-right: 50px;
}

.project .card-with-sidebar .sidebar i {
    font-size: 14px;
    line-height: 16px;
    display: block;
    margin-bottom: 3px;
}

.project .card-with-sidebar .sidebar b {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 5px;
    display: block;
}

.project .card-with-sidebar .sidebar p {
    margin-bottom: 0;
}

.project .card-with-sidebar .sidebar > p {
    cursor: pointer;
}

.project.minicard.show .card-with-sidebar .sidebar p {
    margin-bottom: 20px;
}

.minicard h4 {
    font-size: 18px;
    font-weight: 700;
    margin: 4px 0 0 0;
    line-height: 22px;
}

.minicard p, li {
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 12px 0;
}

.minicard a {
    color: #486ed9;
}

.minicard hr {
    border-top: 1px solid #f5f7f9;
    margin: 20px 0;
}

.minicard .note {
    font-size: 14px;
    line-height: 16px;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
}

.payment-ratio-card .row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.payment-ratio-card .row p {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    flex: 1 1 0;
}

.payment-ratio-card .row p:first-child {
    justify-content: end;
}

.payment-ratio-card .row .tag {
    font-weight: 700;
    background-color: #ebf1f8;
    border-radius: 20px;
    width: 60px;
    height: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.finances-card {
    display: block;
}

.finances-header {
    display: flex;
    justify-content: space-between;
}

.finances-header-button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80px;
    height: 24px;
    border: 1px solid #39444e;
    border-radius: 13px;
    background-color: #f4f6f8;
    position: relative;
}

#finances-active-presentation {
    position: absolute;
    width: 40px;
    height: 24px;
    background-color: #39444e;
    border: 1px solid #39444e;
    border-radius: 13px;
    right: 0;
    transition: all 0.25s ease-out;
    -webkit-transition: all 0.25s ease-out;
}

#finances-active-presentation.graph {
    /* left: 0; */
    transform: translateX(-40px); /* for the transition animation to work */
}

.finances-header-button svg {
    max-width: 14px;
    max-height: 14px;
    width: 14px;
    height: 14px;
    cursor: pointer;
    z-index: 2;
}

.finances-header-button svg path {
    fill: #39444e;
}

.finances-header-button svg.active path {
    fill: white;
}

.finances-presentation {
    display: none;
}

.finances-presentation.active {
    display: block;
}

.finances-header-income,
.finances-header-expense {
    display: flex;
}

.finances-header-expense .icon {
    margin: 0 0 0 15px;
}

.finance-tree {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.finance-tree li > div {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d1d7df;
    padding: 6px 0;
}

.finance-tree li > div span:first-child {
    font-size: 12px;
    font-style: italic;
    line-height: 22px;
}

.finance-tree li > div span:first-child {
    font-size: 14px;
}

.finance-tree.income-tree {
    padding-left: 50px;
    margin-right: 20px;
}

.finance-tree.expense-tree {
    padding-right: 50px;
    margin-left: 20px;
}

.finance-tree-element {
    list-style-type: none;
    padding-left: 20px;
}

.finance-tree-element li {
    margin: 0;
}

.finance-tree-element li > div {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d1d7df;
    padding: 6px 0;
}

.finance-tree-element li > div span:first-child {
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    line-height: 22px;
}

.finance-tree li > div span:last-child {
    font-size: 14px;
}

.description p, li {
    font-size: 14px;
    line-height: 21px;
}

.description ul {
    list-style: none;
    padding: 0;
}

.description li {
    margin-bottom: 0;
    padding-left: 15px;
    position: relative;
}

.description li:before {
    content: "‣";
    color: #486ed9;
    font-size: 30px;
    position: absolute;
    left: 0;
  }

.minicard .sidebar a {
    color: #39444e;
}

.vertical-separator {
    width: 1px;
    background-color: #f5f7f9;
    margin: -20px 20px;
}

.minicard-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.minicard-footer-separator {
    border: 1px solid #f5f7f9;
    margin: 20px 0;
}

.logo {
    max-width: 160px;
    max-height: 50px;
    margin: 0 10px;
}

.instructions-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.instructions-line p {
    margin-top: 0;
}

.instructions-line p:first-child {
    margin-left: 50px;
    margin-bottom: 0;
}

.instructions-line p:last-child {
    width: 310px; /* has to be 40px more than .sidebar */
    margin-bottom: 0;
}

.instructions-line p i {
    font-size: 11px;
    line-height: 11px;
}

.instructions-line p:last-child i {
    padding-left: 20px;
}

.project {
    display: block;
}

.project .more i {
    font-size: 11px;
}

.project .more {
    display: none;
}

.project.show .more {
    display: block;
}

.project.show .show-hide-button {
    transform: rotate(90deg);
}

.minicard-donations-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.minicard-donations-title h4,
.minicard-donations-title-long h4 {
    white-space: nowrap;
    margin: 4px 0;
}

.minicard-donations-title-long {
    display: flex;
    justify-content: space-between;
}

.minicard-donations-title-long h4 {
    margin-right: 40px;
}

.minicard-donations-title-long > div p,
.minicard-donations-title-long > div li {
    margin: 4px 0;
    font-size: 14px;
    line-height: 21px;
}

.minicard-donations-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.minicard-donations-body p {
    margin-right: 40px;
    margin-top: 12px;
}

.minicard-donations-body span {
    font-size: 12px;
    white-space: nowrap;
}

.donator-list-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #f5f7f9;
    padding: 10px 0;
}

.donator-list-element p {
    margin-bottom: 0;
}

.donator-list-element span {
    font-size: 12px;
}

.info .minicard,
.share .minicard {
    min-height: 500px;
}

.content:not(.active),
.info:not(.active),
.share:not(.active) {
    display: none;
}

.info-content {
    margin: 20px 100px 0 100px;
}

.info-content p {
    font-size: 12px;
    line-height: 14px;
}

#share-url {
    height: 30px;
    width: 100%;
    border-radius: 15px;
    border: 1px solid #39444e;
    background-color: #f5f7f9;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    line-height: 14px;
    color: #39444e;
    padding: 0 15px;
}
