{% extends "admin/base_site.html" %}
{% load static %}
{% load martortags %}
{% load i18n static %}

{% block extrahead %}
    <style>
        .instruction_collapsible {
            background-color: #eee;
            color: #444;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
          }
          /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
          .instruction_active, .instruction_collapsible {
            background-color: #ccc;
            width:100px;
          }
          /* Style the collapsible content. Note: hidden by default */
          .instructions {
            padding: 0 18px;
            display: none;
            overflow: hidden;
            background-color: #f1f1f1;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
          }
    </style>
{% endblock %}

 {% block branding %}
     {{ block.super }}
 {% endblock %}

 {% block messages %}
    {% if messages %}
    <ul class="messagelist">{% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
    {% endfor %}</ul>
    {% endif %}
    {% if instructions %}
        <button type="button" onclick="toogle_instructions()" id="instraction-button" class="instruction_collapsible">Prikaži pomoč</button>
        <div id="instruction_content" class="instructions">
        {{ instructions|safe_markdown }}<br/>
        </div>
    {% endif %}
{% endblock messages %}

{% block content_title %}{% endblock %}

{% block footer %}
    {{ block.super }}
    <script>
        function toogle_instructions() {
            var x = document.getElementById("instruction_content");
            if (x.style.display === "none") {
              x.style.display = "block";
              document.getElementById("instraction-button").textContent = "Skrij pomoč"
            } else {
              x.style.display = "none";
              document.getElementById("instraction-button").textContent = "Prikaži pomoč"
            }
          }
    </script>
{% endblock %}
