{% extends "admin/base_site.html" %}
{% load static %}
{% load martortags %}
{% load i18n static %}

{% block extrahead %}
<style>
  .content {
    position: relative;
  }

  @media (min-width: 992px) {
    .object-tools {
      position: absolute;
      right: 40px;
      margin-top: 0;
      top: 20px;
    }
  }

  .instruction_collapsible {
    margin: 20px 15px 0;
    padding: 3px 12px;
    display: inline-block;
    background-color: #79aec8;
    border: none;
    border-radius: 15px;
    outline: none;
    color: white;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 20px;
    cursor: pointer;
  }

  .instruction_collapsible.active {
    background-color: #888888;
  }

  .instruction_collapsible:hover {
    background-color: #747474;
  }

  .hidden {
    display: none;
  }

  .instructions {
    margin: 10px 15px;
    border: 1px solid #e8e8e8;
    color: #e0e0e0;
  }

  .instructions-header {
    background-color: #79aec8;
    padding: 8px 12px;
  }

  .instructions-header h4 {
    margin: 0;
    padding: 0;
    color: #fff;
  }

  .instructions-body {
    padding: 12px;
    color: #666;
  }

  /* dark theme */
  @media (prefers-color-scheme: dark) {
    .instruction_collapsible {
      background-color: #264b5d;
      border: none;
      border-radius: 15px;
      outline: none;
      color: white;
      font-size: 11px;
      font-weight: 500;
      text-transform: uppercase;
      line-height: 20px;
      cursor: pointer;
    }

    .instruction_collapsible.active {
      background-color: #333333;
    }

    .instruction_collapsible:hover {
      background-color: #666666;
    }

    .instructions {
      border: 1px solid #272727;
    }

    .instructions-header {
      background-color: #264b5d;
    }

    .instructions-body {
      color: #e0e0e0;
      background-color: black;
    }

  }

  /* responsive */
  @media (min-width: 768px) {
    .instruction_collapsible {
      margin: 20px 30px 0;
    }

    .instructions {
      margin: 10px 30px;
    }
  }

  @media (min-width: 992px) {
    .instruction_collapsible {
      margin: 20px 40px 0;
    }

    .instructions {
      margin: 10px 40px;
    }
  }

</style>
{% endblock %}

 {% block branding %}
     {{ block.super }}
 {% endblock %}

 {% block messages %}
    {% if messages %}
      <ul class="messagelist">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <div style="min-height: 40px;">
      {% if instructions %}
      <button type="button" onclick="toogle_instructions()" id="instruction-button" class="instruction_collapsible">Skrij navodila</button>
      <div id="instruction_content" class="instructions">
        <div class="instructions-header">
          <h4>Navodila</h4>
        </div>
        <div class="instructions-body">
          {{ instructions|safe_markdown }}
        </div>
      </div>
    {% endif %}
    </div>
    {% if preview %}
    <a href="{{ preview }}" target="_blank"><button type="button" id="instruction-button" class="instruction_collapsible">Poglej stran</button></a>
    {% endif %}
{% endblock messages %}

{% block content_title %}{% endblock %}

{% block footer %}
    {{ block.super }}
    <script>
        function toogle_instructions() {
            var x = document.getElementById("instruction_content");
            if (x.classList.contains("hidden")) {
              x.classList.remove("hidden");
              document.getElementById("instruction-button").textContent = "Skrij navodila"
              document.getElementById("instruction-button").classList.add("active")
            } else {
              x.classList.add("hidden");
              document.getElementById("instruction-button").textContent = "Prikaži navodila"
              document.getElementById("instruction-button").classList.remove("active")
            }
          }
    </script>
{% endblock %}
