{% extends "admin/login.html" %}
{% load i18n static %}

{% block header %}
<div id="header"></div>
{% endblock %}

{% block footer %}
<div id="footer">
    <p>
        <strong>
            Si vaša organizacija želi uporabljati brezplačno aplikacijo Odprti računi NVO, a še nimate dostopa?
        </strong>
    </p>
    <hr />
    <p>
        Pošljite povpraševanje na odprtiracuni(at)danesjenovdan.si.
    </p>
    <p>
        V najkrajšem možnem času vas bomo kontaktirali z navodili in vam posredovali uporabniško ime in geslo za dostop do administratorskega sistema aplikacije, v katerega boste vpisovali podatke.
    </p>
</div>
{% endblock %}