<ul class="finance-tree-element">
    {% for revenue in revenues %}
    <li>
        <div>
            {% if revenue.additional_name %}
            <span>{{ revenue.additional_name }}</span>
            {% else %}
            <span>{{ revenue.name }}</span>
            {% endif %}
            <span>{{ revenue.amount|floatformat:2 }}</span>
        </div>
        {% if revenue.children %}
            {% include "includes/finance-tree-element.html" with revenues=revenue.children %}
        {% endif %}
    </li>
    {% endfor %}
</ul>
